#pattern-lines {
  position: absolute;
}

#pattern-circle {
  position: absolute;
  transform: translateY(-35%) translateX(4rem);
}

#pattern-circle-2 {
  position: absolute;
  bottom: 10rem;
  left: 65%;
}

#bottom-squiggle {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-5deg);
}

#top-squiggle {
  position: absolute;
  right: 0rem;
  top: 10rem;
}

#purple-shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
