@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --paleblue: hsl(243, 100%, 93%);
  --grayishblue: hsl(229, 7%, 55%);
  --darkblue: hsl(228, 56%, 26%);
  --verydarkblue: hsl(229, 57%, 11%);
  --white: white;
  --lightgray: rgb(206, 201, 201);
  --orangesherbert: rgb(250, 182, 126);
  --hotred: rgb(250, 76, 105);
  --mainFont: "Raleway", sans-serif;
}

.app {
  --mainBg: var(--verydarkblue);
  --cardBg: var(--darkblue);
  --mainColor: var(--white);
}

.app {
  max-width: 144rem;
  margin: 0 auto;
  min-height: 100vh;
  /* border: 2px solid black; */
  position: relative;
  overflow: hidden;
  background: var(--mainBg);

  animation: render 1s forwards;
}

.app-content {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("./images/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  font-family: var(--mainFont);
}

p {
  font-size: 1.4rem;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: var(--mainColor);
}

.bold {
  font-weight: 700;
}

.muted {
  opacity: 65%;
}

.thin {
  font-weight: 300;
}

li {
  list-style: none;
}

.ad-card {
  display: flex;
  gap: 3rem;
  position: relative;
  z-index: 10;
  color: var(--white);
  align-items: center;
  z-index: 10;
}

.logo-icons-column,
.progress-column {
  background: var(--cardBg);
}

.logo-icons-column {
  border-radius: 1rem;
  border-top-right-radius: 10rem;
  position: relative;
  transform: scale(0);
  animation: render 0.5s 1s forwards;
}

.logo-icons-column-content {
  position: relative;
  z-index: 10;
  background: var(--cardBg);
  padding: 4rem;
  padding-right: 8.5rem;
  border-radius: 1rem;
  border-top-right-radius: 10rem;
  box-shadow: 1px -3px 2px var(--mainBg), -1px -7px 12px var(--mainBg) inset;
}

.logo-icons-column::after {
  content: "";
  position: absolute;
  left: 0.2rem;
  top: 0.1rem;
  width: 100%;
  height: 99%;
  background: var(--mainColor);
  border-radius: 1rem;
  border-top-right-radius: 10rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3.5rem;
}

.action-btn {
  border: none;
  background: var(--mainBg);
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 2px 2px 2px black inset, 2px 2px 12px black inset;
}

.action-btn:hover {
  transform: scale(0.85);
  transition: 0.5s ease;
  box-shadow: 2px 2px 2px black, 2px 2px 12px black;
}

.active-btn {
  transform: scale(0.85);
  transition: 0.5s ease;
  box-shadow: 2px 2px 2px black, 2px 2px 12px black;
}

.progress-column {
  color: var(--white);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  border-radius: 1.5rem;
  padding: 4rem;
  transform-origin: left;
  position: relative;
  box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.5),
    -3px -5px 5px var(--mainBg) inset, -5px -5px 15px var(--mainBg) inset;
  transform: scale(0, 1);
  animation: render-width 1s 1.5s forwards;
}

.data-alert {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  background: white;
  color: black;
  position: absolute;
  gap: 1rem;
  right: 4rem;
  top: -2rem;
  border-bottom-right-radius: 0;
  transform: scale(0);
  animation: render 1s 4s forwards, float 20s 5s infinite;
}

.alert-h1 {
  font-size: 3rem;
}

@keyframes float {
  0% {
    transform: translateY(0rem) scale(1);
  }
  20% {
    transform: translateY(-0.5rem) scale(1);
  }

  40% {
    transform: translateY(0.5rem) scale(1);
  }

  60% {
    transform: translateY(-0.5rem) scale(1);
  }

  80% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}

.data-alert::after {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  background: white;
  bottom: -1rem;
  right: 0rem;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

@keyframes render-width {
  75% {
    transform: scale(1.2, 1);
  }
  100% {
    transform: scale(1);
  }
}

.caption-row {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

#users-storage {
  width: 30px;
  height: 20px;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  /* height: 30px; */
}

.users-bytes {
  transform: scale(0);
}

.render-bytes {
  animation: render 1s 1s forwards;
}

@keyframes render {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.1, 1.15);
  }
  100% {
    transform: scale(1);
  }
}

.progress-bar {
  width: 45rem;
  height: 2rem;
  border-radius: 100px;
  background: var(--mainBg);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
}

.skeleton-loader {
  position: absolute;
  width: 250%;
  background: linear-gradient(to right, grey, white, lightgrey);
  height: 100%;
  left: -25%;
  z-index: 5;
  display: block;
}

.flash-loaders {
  display: block;
  animation: skeletonloader 2s forwards infinite alternate,
    flashloader 2s infinite;
}

@keyframes skeletonloader {
  100% {
    transform: translateX(-50%);
  }
}

@keyframes flashloader {
  0% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 50%;
  }
}

.remove-loader {
  animation: removeloader 0.5s forwards;
}

@keyframes removeloader {
  95% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
    display: none;
  }
}

.progress {
  width: 75%;
  height: 100%;
  background: linear-gradient(to right, var(--orangesherbert), var(--hotred));
  position: absolute;
  left: 0;
  border-radius: 1rem;
  transform-origin: left;
  transform: scale(0, 1);
  transition: 0.5s ease;
}

.growprogress {
  animation: growprogress 1.5s forwards;
}

.memory-left {
  /* width: 50px; */
  overflow: hidden;
  /* border: 2px solid red; */
  position: relative;
  min-height: 4rem;
  min-width: 5rem;
}

@keyframes growprogress {
  100% {
    transform: scale(1);
  }
}

.progress-circle {
  width: 1.5rem;
  height: 1.5rem;
  background: var(--mainColor);
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  border-radius: 50%;
  cursor: pointer;
}

.progress-label-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 2rem;
  color: var(--mainColor);
  z-index: 5;
}

@media screen and (max-width: 850px) {
  .ad-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .progress-column {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .progress-bar {
    width: 26rem;
  }

  .data-alert {
    bottom: -2rem;
    border-bottom-right-radius: 1rem;
    animation: render 1s 4s forwards;
    top: initial;
    right: initial;
  }

  .data-alert::after {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .app-content {
    background-image: url("./images/bg-mobile.png");
  }
}
