@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;400;500;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --red: #f94f4f;
  --bgblack: #191921;
  --white: #ffffff;
  --textBlack: #000000;
  --mainFont: "Commissioner", sans-serif;
}

.thin {
  font-weight: 200;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 8rem;
  line-height: 8.8rem;
}

h2 {
  font-size: 5.6rem;
  line-height: 6.4rem;
}

h3 {
  font-size: 2rem;
  line-height: 3.2rem;
}

p {
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.btn {
  font-size: 1.8rem;
  padding: 2.5rem 3.4rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 600;
  white-space: nowrap;
  transition: 0.5s ease;
}

.primary-btn:hover {
  transform: scale(1.3, 1.2);
  box-shadow: 2px 3px 15px var(--red);
  text-shadow: 1px 1px 1px black;
}

.bg-red {
  background: var(--red);
}

.bg-dark {
  background: var(--bgblack);
}

.btn-transparent {
  background: transparent;
  border: none;
  /* alter padding to allow 'text-start' effect to keep alignment on content */
  /* padding: 2rem 0; */
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s ease;
}

.btn-transparent-cube {
  background: transparent;
  border: none;
  /* alter padding to allow 'text-start' effect to keep alignment on content */
  padding: 2rem 0;
  cursor: pointer;
  transition: 0.5s ease;
}

.btn-transparent-cube:hover {
  text-shadow: 2px 3px 15px red;
  transform: translateY(-0.5rem);
}

.btn-transparent:hover {
  box-shadow: 2px 3px 15px red;
}

.text-white {
  color: var(--white);
}

.text-red {
  color: var(--red);
}

.text-dark {
  color: var(--textBlack);
}

.text-start {
  text-align: start;
}

/* .desktop-nav {
} */

.mobile-nav {
  display: none;
}

.text-end {
  text-align: end;
}

@media screen and (max-width: 1050px) {
  h1 {
    font-size: 5.6rem;
    line-height: 5.8rem;
  }

  h2 {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .btn {
    padding: 2.5rem 3rem;
  }

  .btn-transparent-cube {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 4.6rem;
    line-height: 4.3rem;
  }
  p {
    font-size: 1.5rem;
  }

  .btn {
    padding: 2.5rem 3rem;
  }

  /* .btn-transparent {
    padding: 2rem 0;
  } */
}

/* @media screen and (max-width: 550px) {
} */
