@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --darkSlategray: hsl(234, 29%, 20%);
  --charcoalgrey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --mainFont: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.mt-2 {
  margin-top: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

li {
  list-style: none;
}

.btn {
  width: 100%;
  padding: 1.3rem 0;
  border-radius: 0.8rem;
  border: none;
}

.app {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--darkSlategray);
  font-family: var(--mainFont);
}

.newsletter-card {
  /* position: relative; */
  border-radius: 1rem;
  box-shadow: 2px 3px 25px var(--grey);
  background: var(--white);
  overflow: hidden;
  padding: 2rem;
  display: flex;
  margin: 0 auto;
}

.main-content-column {
  padding: 10rem 3rem;
}

.header-blurb {
  padding: 1.5rem 0rem;
  width: 85%;
}

.feature-item {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1.2rem 0;
}

.form-div {
  padding: 1.2rem 0;
}

.form-control {
  width: 100%;
  padding: 1.2rem;
  border-radius: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid var(--grey);
  outline: none;
  position: relative;
}

.error-form {
  border: 2px solid var(--tomato);
  background: rgb(243, 172, 172);
  color: red;
}

.error-form::placeholder {
  color: red;
}

.error-h5 {
  color: red;
  position: absolute;
  right: 1rem;
  top: 3.2rem;
}

.btn {
  background: var(--charcoalgrey);
  color: var(--white);
  font-weight: 700;
  transition: 0.2s ease;
  cursor: pointer;
}

.btn:hover {
  background: var(--tomato);
  box-shadow: 2px 4px 10px var(--tomato);
  text-shadow: 1px 1px 1px black;
}

.mobile-img {
  display: none;
}

.thanks-card {
  display: none;
  background: var(--white);
  width: clamp(45%, 400px, 100%);
  padding: 3rem 4.5rem;
  border-radius: 0.8rem;
  box-shadow: 2px 3px 25px var(--grey);
}

.success-check {
  transition: 0.5s ease;
}

.success-check:hover {
  filter: hue-rotate(30deg);
}

.attribution {
  width: 100%;
  text-align: center;
  background: var(--darkSlategray);
  color: var(--white);
}

@media screen and (max-width: 450px) {
  .newsletter-card {
    width: 100%;
    display: block;
    padding: 0rem;
  }

  .mobile-img {
    display: block;
    min-width: 100%;
  }

  .main-content-column {
    padding: 4rem 2rem;
  }

  .desktop-img {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .thanks-card {
    min-height: 100vh;
    width: 100%;
    padding: 4rem 2rem;
    padding-top: 15rem;
  }

  .thanks-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
